# Git
.git
.gitignore

# Build artifacts
_build
deps
*.ez
*.beam

# Generated outputs
doc
cover
priv/plts

# Mix artifacts
.fetch

# Editor files
.idea
.vscode
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Test and dev tooling
test
.github
examples
openapi.yaml

# Env files
.env*
test_server.exs
